/* 
=============================================
            Table of Contents
=============================================
1. Variables
2. Global Styles
3. Header & Navigation
*/

/* 
=============================================
                1. Variables
=============================================
*/
:root {
    --white: #ffffff;
    --primary: #d10068;
    --primary-light: #f73b98;
    --gray: #757575;
    --gray-dark: #292929;
    --gray-light: #ededed;
    --gray-btn-bg: #f3f3f3;
    --font-regular: 'Fira Sans', sans-serif;
    --font-highlight: 'Poppins', sans-serif;
    --transition-long: all 0.25s ease-in-out 0;
    --transition-short: all 0.15s ease-in-out 0;
}

/*
=============================================
            2. Global Styles
=============================================
*/
body {
    font-family: var(--font-regular);
    margin: 0;
    padding: 0;
    font-size: 15px;
    overflow-x: hidden;
}

a,
a:hover,
a:active {
    text-decoration: none;
}


/*
=============================================
            3. Header & Navigation
=============================================
*/
.sticky-outer-wrapper .nav-sticky {}

.sticky-inner-wrapper {
    position: relative;
    transform: translate3d(0, 0, 0);
    z-index: 200;
}

.navbar-header-wrapper {
    transition: var(--transition-long);
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    padding: 3px 15px;
    transition: var(--transition-long);
}

.navbar-mobile-nav-wrapper {
    display: none;
}

.navbar-brand {
    margin-right: 50px;
    flex-shrink: 0;
}

.navbar-nav-wrapper {

    display: none;
}

@media (min-width: 576px) {
    .navbar-container {
        padding: 15px 25px;
    }
}

@media (min-width: 992px) {
    .navbar-container {
        padding: 25px 45px;
    }

    .navbar-mobile-nav-wrapper {
        display: none;
    }

    .navbar-brand {
        margin-right: 50px;
        flex-shrink: 0;
    }

    .navbar-nav-wrapper {
        display: flex;
        flex-grow: 1;
    }

    .page-links {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .page-links li {
        list-style: none;
        margin: 0 20px;
    }

    .page-links li a {
        padding: 5px 10px;
        white-space: nowrap;
        font-size: 15px;
        line-height: 1;
        font-weight: 400;
        color: var(--gray);
        transition: var(--transition-short);
    }

    .page-links li a:hover {
        color: var(--gray-dark);
    }

    .page-links li a.active-link {
        font-weight: 500;
        color: var(--gray-dark);
    }
}